<!DOCTYPE html>
<html style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
	<style>
		ul li{
			padding: 10px 0px
		}
	</style>
	<head>
		<title> CSC 330 Flask Calculator Midterm Project</title>
	</head>
	<body>
		<h1> Hello! Welcome to my Flask calculator program.</h1>
		<h2> To start, enter the listed routes below into the URL:</h2>
	</body>
<div>
	<ul>
		<li>For Addition you insert '/add/x/x' to the end of the URL. Where x is two numbers you would like to add.</li>
		<li>For Subtraction you insert '/sub/x/x' to the end of the URL. Where x is two numbers you would like to subtract.</li>
		<li>For Multiplication you insert '/multi/x/x' to the end of the URL. Where x is two numbers you would like to multiply.</li>
		<li>For Division you insert '/div/x/x' to the end of the URL. Where x is two numbers you would like to divide.</li>
	</ul>
</div>
<div>
	<h3>
		For example:
	</h3>
	<ul>
		<li>192.168.1.1:8080/add/2/4 </li>
		<li>192.168.1.1:8080/sub/6/8</li>
		<li>192.168.1.1:8080/multi/2/4</li>
		<li>192.168.1.1:8080/div/2/4</li>
	</ul>
</div>